{%extends 'base/base_ata.html'%}
{%block content%}

<div class=container-fluid>
        {% for blog in list_blog %}
    <div class="row picture">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="blog-picture">
                <img src="{{blog.gambar}}">
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row title">
            
            <div class="col-md-2">
    
            </div>
            <div class="col-md-8">
                <div class="blog-title">
                    {{blog.judul}}
                </div>
            </div>
            <div class="col-md-4">
    
            </div>
    </div>
    <div class="row isi">
            <div class="col-md-2">
    
                </div>
                <div class="col-md-8">
                    <div class="blog-isi">
                        {{blog.isi}}
                    </div>
                </div>
                <div class="col-md-4">
        
                </div>
    </div>
    </div>
         {%endfor%}
</div>

{%endblock%}