{%extends 'base/base_ata.html'%}
{%block title%}Home{%endblock%}

{%block content%}

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-4">
            <div class="logo">
            <img src="https://i.postimg.cc/m2tgpQQg/benefit.png">
            </div>
        </div>
        <div class="col-md-8">
            Learn Awesome Tech
            <p>you will learn about programming language suhc as python and javascript  
                    build backend apps using flask fw with microservice concept , build client side apps udsing react library</p>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <div class="logo">
                <img src="https://i.postimg.cc/L40HPnrK/search-job.png">
                </div>
            </div>
            <div class="col-md-8">
                Land New Job
                <p>if you can pass thi sawrsome program , you will be part of oiur reluable tech learn for especially software engineer position and other tech position as system analys , quality engineer and mmanynmore
                    </p>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <div class="logo">
            <img src="https://i.postimg.cc/hj2Kpjvm/get-paid.png">
            </div>
        </div>
        <div class="col-md-8">
            Get Paid To Learn
            <p>join for free and earn some money , yes yu readthat right , npo registration fee required to entehr this porgram , to make things even better you will receive pocket money just for participating </p>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <div class="logo">
                <img src="https://i.postimg.cc/Pq4H5xm7/mission.png">
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        Who Are We
                        <p>alpha tech academy is a talent incubation that fives anyone any chance to learn within  3 MONTH OF  being a professional tech talent. What is our mission? We want to improve capability tech talent in Indonesia</p>
                    </div>
                    <div class="col-md-8">
                        What Is Our mission
                        <p>we want to improva capability tech talent in indonesia</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-8">
        <div class="aligncenter logo-table">
            <table class="">
                <tr>
                    <td>
                        <img src="https://i.postimg.cc/c424prmM/learn-programming.png">
                    </td>
                    <td>
                        <img src="https://i.postimg.cc/ZqFbvjhV/learn-html.png">
                    </td>
                    <td>
                        <img src="https://i.postimg.cc/vBYQr9YM/learn-git.png">
                    </td>
                    <td>
                        <img src="https://i.postimg.cc/m2zTyTsc/learn-api.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://i.postimg.cc/6qTtSX4m/learn-react.png">
                    </td>
                    <td>
                        <img src="https://i.postimg.cc/GmDhddg0/learn-tdd.png">

                    </td>
                    <td>
                        <img src="https://i.postimg.cc/c4p0DPxF/learn-server.png">

                    </td>
                    <td>
                        <img src="https://i.postimg.cc/vTjbwNWH/learn-scrum.png">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    </div>

</div>

{%endblock%}